.navbar-image{
    width:30px;
    height:40px;
}

.medium-container{
    height: 100vh;
    text-align: center;
}

.medium-cards-container{
    width: 30%;
    display: inline-block;
    margin-right: 10px;
}

.card-text-shadow{
    text-shadow: 0px 1px 7px rgba(0,0,0,1);
}